ADMIN_PASSWORD=
ADMIN_PIN=
ADMIN_SECRET=
ADMIN_SESSION_SECRET=
GITHUB_BRANCH=
GITHUB_BUG_REPORTS_FILE_PATH=
GITHUB_EVENTS_FILE_PATH=
GITHUB_FILE_PATH=
GITHUB_REPO=
GITHUB_TEACHERS_FILE_PATH=
GITHUB_TOKEN=
FIREBASE_API_KEY=
TEACHER_SECRET=
TEACHER_SESSION_SECRET=